:root{
    --cursor: url('imgs/cursor.png'), auto
}

* {
    padding: 0;
    margin: 0;
    cursor: var(--cursor);
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    background: #6600ff;
    overflow: hidden;
}

#points{
    font-size: 100px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.tiro{
    --cursor: url('imgs/cursor-shoot.png'), auto
}

.soldier{
    display: flex;
    flex-direction: column;
    align-items : center;
    animation: aparece 1s ;
    position: absolute;
    bottom: 0;
}

.soldier-head{
    background: url("imgs/soldier-head.png");
    width: 90px;
    height: 110px;
}

.soldier-body{
    background: url("imgs/soldier-body.png");
    width: 166px;
    height: 369px;
}

.soldier-body,.soldier-head{
    background-repeat: no-repeat;
    
}

.morto{
    animation: some 1.5s both ;
}

@keyframes aparece {
    0%{bottom: -500px;}
}
@keyframes some {
    100%{bottom: -500px;}
}